@charset "UTF-8";

@font-face {
    font-family: 'Bebas';
    src: url('../fonts/BebasNeue-Regular.ttf') format('truetype');
}

:root {
    --azul-claro: #72c3ec;
    --azul-escuro: #1C7BBF;
    --cinza-claro: #ebebeb;
    --cinza: #838383;
    --cinza-alternativo: #818286;
    --cinza-escuro: #424242;
}

@media screen and (max-width: 1000px) {
    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3px;
        height: 200px;
        width: 400px;
    }

    nav div.logo-principal > img {
        height: 50px;
        width: 50px;
    }

    nav > div.logo-principal > h1 {
        font-size: 20px;
    }

    div.menu {
        display: flex;
        align-items: center;
        width: 400px;
        height: 200px;
    }
    
    i#mobile-menu {
        display: block !important;
    }

    /* div#itens {
        display: none;
    }

    ul#itens {
        flex-wrap: nowrap;
    } */

    nav menu.abas-botao > ul.nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 92vh;
        background-color: var(--azul-escuro);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translate(100%);
    }

    nav > menu.abas-botao > ul.nav-list {
        display: flex;
        flex-wrap: wrap;
    }

    nav > menu.abas-botao > ul.nav-list > li {
        margin-left: 0;
    }

    /* nav > menu.abas-botao > ul.nav-list > li > a {
        display: block;
    } */

    menu.abas-botao {
        display: flex;
        align-items: center;
        justify-content: center;
        width: none !important;
        height: 10vh !important;
    }

    button.botao-nav {
        width: 140px !important;
        font-size: 15px;
    }
}