@charset "UTF-8";

/* Typical Device Breakpoints 
------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@font-face {
    font-family: 'Bebas';
    src: url('../fonts/BebasNeue-Regular.ttf') format('truetype');
}

:root {
    --azul-claro: #72c3ec;
    --azul-escuro: #1C7BBF;
    --cinza-claro: #ebebeb;
    --cinza: #838383;
    --cinza-alternativo: #818286;
    --cinza-escuro: #424242;
}

@media (min-width: 350px) and (max-width: 650px) {
    body {
      /* overflow-y: hidden; */
    }

    nav {
      gap: 2vh;
      height: 10vh;
    }
  
    nav > .mobile-menu {
      display: block;
      cursor: pointer;
    }

    nav div.logo-principal > img {
      height: 5vh;
      width: 10vw;
      opacity: 1; 
      transition: opacity 0.5s;
    }

    nav div.logo-principal > img:hover {
      height: 5vh;
      width: 10vw;
      opacity: 0.7;
    }

    nav div.logo-principal > h1 {
      color: var(--azul-escuro);
      font-size: 3vh;
    }

    nav > menu.abas-botao {
      width: 32vw;
    }

    nav > menu.abas-botao > div {
      height: 8vh;
    }
  
    nav > menu.abas-botao > ul.nav-list {
      position: absolute;
      top: 10vh;
      left: 0;
      width: 35vw;
      height: 85vh;
      background: var(--azul-escuro);
      flex-direction: column;
      gap: 10vh !important;
      padding-top: 5vh;
      border-radius: 5px;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in;
    }

    nav > menu.abas-botao > ul > li > a {
      color: white;
      font-weight: normal;
    }

    nav > menu.abas-botao > ul > li > a:hover {
      color: white;
      opacity: 0.5;
    }

    nav > menu.nav-list > li {
      margin-left: 0;
      opacity: 0;
      margin-left: 0px !important; 
    }

    nav > menu.nav-list > li > a {
      color: white !important;
      font-weight: normal !important;
      transition: 0.3s;
    }

    nav > div.mobile-menu {
      display: block;
    }

    button.botao-nav {
      height: 5vh !important;
      width: 25vw !important;
      font-size: 1.5vh !important;
      margin-right: 2vh;
    }

    div.background {
      margin-top: 6.5vh;
    }

    div.apresentacao > h2 {
      font-size: 4vh;
      width: 85vw;
    }

    div.apresentacao > p {
      font-size: 2.5vh;
      width: 70vw;
    }

    button.botao-principal {
      width: 35vw;
    }

    section.servicos {
      height: 205vh;
      flex-wrap: wrap;
      margin-top: 80px;
      padding: 50px 0;
    }

    div.card {
      height: 42vh;
      width: 60vw;
      gap: 1.5vh;
    }

    div.card > div > img {
      height: 7vh;
      width: 15vw;
    }

    div.card > h3 {
      font-size: 5vw;
    }
  
    div.card > p {
      font-size: 4vw;
      width: 40vw;
    }
  
    div.card > p > span {
      font-size: 3vw;
      font-weight: bold;
      text-decoration: underline;
      text-transform: uppercase;
    }

    section.especialistas {
      height: 106vh;
      flex-wrap: wrap;
      margin-top: 20px;
    }

    section.especialistas > p {
      margin-top: 40px;
    }

    section.especialistas > div.infos-especialistas {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      height: 90vh;
    }

    div.infos {
      flex-direction: column;
      width: 55vw;
      height: 28vh;
    }

    div.infos > img {
      height: 5.5vh;
      width: 12vw;
    } 
  
    div.infos > p {
      width: 55vw;
      text-align: center;
    }

    div.container {
      flex-direction: column-reverse;
    }

    div.container > div.img-container > img {
      height: 250px;
      width: 340px;
      margin-bottom: 5vh;
      border-radius: 0 0 10px 10px;
    }

    div.container > div.texto-experiencia {
      align-items: center;
      justify-content: center;
      height: 250px;
      width: 340px;
      gap: 3vh;
      border-radius: 10px 10px 0 0;
    }

    div.container > div.texto-experiencia > h3 {
      margin: 2vh 0 0 7vw;
      text-align: left;
    }

    div.container > div.texto-experiencia > p {
      width: 265px;
      height: 95px;
      margin-left: 45px;
    }

    section.avaliacoes > div.texto-avaliacoes {
      margin: 5vh 0;
      height: 8vh;
    }

    section.avaliacoes > div.avaliacoes-cliente {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 150vh;
      width: 100vw;
      gap: 5vh;
      margin: 5vh 0;
    }

    section.avaliacoes > div.avaliacoes-cliente > div.cliente {
    height: 35vh;
    width: 50vw;
    }

    section.avaliacoes > div.avaliacoes-cliente > div.cliente > p {
      width: 20vh;
    }

    div.avaliacoes-cliente > div.cliente > div.img-cliente {
      height: 9vh;
      width: 18vw;
    }

    footer {
      height: 85vh;
      width: 100vw;
    }

    footer div.endereco-contato {
      gap: 25vw;
    }

    footer div.contato {
      width: 20.5vw;
      gap: 3vw;
    }

    footer div.contato > a > img {
      width: 5vw;
    }

    footer div.logo > div#logo-dental > img {
      height: 5.5vh;
      width: 10.5vw;
    }

    footer div.separador {
      height: 1vh;
    }
    
    footer div.separador-1 {
      margin: 0 0 20px 0;
    }

    footer div.separador-2 {
      margin: 30px 0;
    }
  
    footer div.maps-ultimas-infos {
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 70vh;
      width: 100vw;
      margin-bottom: -11vh !important;
      gap: 7vh;
    }

    footer div.google-maps {
      flex-direction: column;
      margin-top: -10vh;
      margin-bottom: -3vh;
    }

    footer div.google-maps > a > img {
      height: 15vh;
      width: 50vw;
    }

    footer div.google-maps > p {
      width: 53vw;
      margin-left: 2%;
    }

    footer div.mais-infos {
      flex-direction: column;
      width: 90vw;
      height: 30vh;
    }

    footer div.mais-infos > p {
      width: 90vw;
      font-size: 1.5vh;
    }
}

@media (min-width: 650px) and (max-width: 1000px) {
  body {
    /* overflow-y: hidden; */
  }

  nav {
    height: 10vh;
    gap: 18vw;
  }

  nav div.logo-principal > img {
    height: 6vh;
    width: 8vw;
  }

  nav div.logo-principal > img:hover {
    height: 7vh;
    width: 9vw;
  }
  
  nav div.logo-principal > h1 {
    font-size: 3vh;
  }

  nav > menu.abas-botao {
    width: 20vw;
    margin-right: 2vh;
  }

  nav > menu.abas-botao > ul.nav-list {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 20vw;
    height: 85vh;
    background: var(--azul-escuro);
    flex-direction: column;
    gap: 10vh !important;
    padding-top: 5vh;
    border-radius: 5px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
  }

  nav > menu.abas-botao > ul > li > a {
    color: white;
    font-weight: normal;
  }

  nav > menu.abas-botao > ul > li > a:hover {
    color: white;
    opacity: 0.5;
  }

  nav > menu.nav-list > li {
    margin-left: 0;
    opacity: 0;
    margin-left: 0px !important; 
  }

  nav > menu.nav-list > li > a {
    color: white !important;
    font-weight: normal !important;
    transition: 0.3s;
  }
  
  nav > menu.nav-list > li > a:hover {
    opacity: 0.7;
  }

  nav > div.mobile-menu {
    display: block;
  }

  nav div.logo-principal > img {
    height: 7vh;
    width: 9vw;
  }

  button.botao-nav {
    width: 18vw;
    height: 5.5vh;
    font-size: 1.5vh;
  }

  section.principal {
    margin-top: 100px;
  }

  div.background {
    background-position: center center;
  }

  div.apresentacao > h2 {
    width: 450px;
  }

  div.apresentacao > p {
    width: 350px;
  }

  button.botao-principal {
    width: 175px;
  }

  section.servicos {
    flex-wrap: wrap;
    height: 700px;
    margin: 70px 0;
  }

  section.servicos > div.card {
    width: 200px;
    height: 270px;
  }

  div.card > div > img {
    width: 60px;
    height: 60px;
  }

  div.card > p {
    width: 150px;
  }

  section.especialistas {
    margin: 0;
  }

  section.especialistas > div.infos-especialistas {
    gap: 65px;
  }

  div.infos {
    width: 178px;
  }

  div.infos > p {
    width: 143px;
  }

  div.infos > img {
    width: 55px;
  }

  section.experiencia {
    margin: 60px 0;
  }

  div.container {
    flex-direction: column-reverse;
  }

  div.container > div.texto-experiencia {
    width: 425px;
    height: 230px;
    gap: 35px;
  }

  div.container > div.texto-experiencia > h3 {
    width: 330px;
  }

  div.container > div.texto-experiencia > p {
    width: 300px;
  }

  div.container > div.img-container > img {
    width: 425px;
    height: 230px;
  }

  section.avaliacoes > div.avaliacoes-cliente {
    flex-wrap: wrap;
    gap: 50px;
  }

  section.avaliacoes > div.avaliacoes-cliente > div.cliente {
    width: 250px;
    height: 300px;
  }

  div.avaliacoes-cliente > div.cliente > div.img-cliente {
    width: 75px;
    height: 75px;
  }

  section.avaliacoes > div.avaliacoes-cliente > div.cliente > p {
    width: 200px;
  }

  footer {
    height: 800px;
  }

  footer div.endereco-contato {
    gap: 400px;
  }

  footer div.contato {
    gap: 1.5vw;
    width: 130px;
  }

  footer div.contato > a > img {
    width: 3vw;
  }

  footer div.logo > div#logo-dental > img {
    height: 5vh;
    width: 6vw;
  }

  footer div.maps-ultimas-infos {
    flex-direction: column;
    gap: 4vw;
  }

  footer div.google-maps > a > img {
    width: 250px;
    height: 180px;
  }

  footer div.google-maps > p {
    width: 200px;
    font-size: 18px;
  }

  footer div.mais-infos {
    flex-direction: column;
    width: 90vw;
    height: 30vh;
  }

  footer div.mais-infos > p {
    width: 650px;
  }
}

@media (min-width: 1000px) and (max-width: 1800px) {

}
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }