@font-face {
    font-family: 'Bebas';
    src: url('../fonts/BebasNeue-Regular.ttf') format('truetype');
}

:root {
    --azul-claro: #72c3ec;
    --azul-escuro: #1C7BBF;
    --cinza: #838383;
    --cinza-escuro: #424242;
}

* {
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

nav > img {
    height: 150px;
    width: 150px;
    margin-left: -40px;
}

nav > h1 {
    margin-left: -35px;
    color: var(--azul-escuro);
}

nav > h1 > span {
    color: var(--cinza);
}

nav > ul > li {
    display: inline-block;
    margin: 0 10px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

li:hover {
    color: var(--azul-escuro);
    transition: 0.5s;
    cursor: pointer;
}

ul {
    margin-left: 450px;
}

button.botao-nav {
    background-color: var(--azul-escuro);
    color: white;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 130px;
    margin-left: 60px;
}

button.botao-nav:hover {
    background-color: var(--azul-claro);
    cursor: pointer;
    transition: 0.5s;
}

section.principal {
    position: relative;
    height: 500px;
    width: 100vw;
}

div.background {
    position: absolute;
    background-image: url(../img/background2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100vw;
}

div.color {
    position: absolute;
    background-color: var(--azul-escuro);
    opacity: 60%;
    background-size: cover;
    height: 500px;
    width: 100vw;
    display: flex;
}

div.apresentacao {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    width: 100vw;
    height: 500px;
    gap: 30px;
}

div.apresentacao > h2 {

    font-size: 50px;
    width: 400px;
    text-align: center;
    line-height: 40px;
}

div.apresentacao > p {
    width: 400px;
    text-align: center;
}

button.botao-principal {
    background-color: transparent;
    color: white;
    border: white 2px solid;
    border-radius: 5px;
    height: 45px;
    width: 140px;
    margin-top: 20px;
}

button.botao-principal:hover {
    background-color: var(--azul-escuro);
    cursor: pointer;
    transition: 0.5s;
}

section.servicos {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    color: white;
    text-align: center;
}

div.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 235px;
    width: 200px;
    border-radius: 5px;
    gap: 10px;
}

div.card > img {
    height: 70px;
    width: 70px;
}

div.card > p {
    font-size: 12px;
    width: 150px;
}

div.card > p > span {
    font-size: 10px;
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
}

div.cinza {
    background-color: var(--cinza);
}

div.azul {
    background-color: var(--azul-escuro);
}

div.card > p > span:hover {
    cursor: pointer;
    transition: 0.5s;
}

div.cinza > p > span:hover {
    background-color: var(--azul-escuro);
}

div.azul > p > span:hover {
    background-color: var(--azul-claro);
}

section.especialistas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    height: 350px;
    gap: 5px;
}

section.especialistas > h2 {
    font-family: 'Bebas', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--cinza-escuro);
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 0px;
}

section.especialistas > p {
    color: var(--cinza-escuro);
}

section.especialistas > div.infos-especialistas {
    display: flex;
    justify-content: center;
}

div.infos-especialistas {
    margin-top: 20px;
    gap: 50px;
}

div.infos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 180px;
    gap: 10px;
}

div.infos > img {
    height: 40px;
    width: 40px;
} 

div.infos > img.especial {
    height: 60px;
    width: 60px;
} 

div.infos > img.especial2 {
    height: 45px;
    width: 55px;
    gap: 10px;
} 

div.infos > p {
    font-size: 12px;
    width: 150px;
}