@font-face {
    font-family: 'Bebas';
    src: url('../fonts/BebasNeue-Regular.ttf') format('truetype');
}

:root {
    --azul-claro: #72c3ec;
    --azul-escuro: #1C7BBF;
    --cinza-claro: #ebebeb;
    --cinza: #838383;
    --cinza-alternativo: #818286;
    --cinza-escuro: #424242;
}

* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    height: 100vh;
}

header {
    position: fixed;
    width: 100vw;
    height: 100px;
    background-color: white;
    top: 0;
    z-index: 999;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

nav img {
    height: 80px;
    width: 80px;
    margin-left: -40px;
}

nav h1 {
    margin-left: 0px;
    color: var(--azul-escuro);
}

nav h1 > span {
    color: var(--cinza);
}

nav > ul {
    margin-left: 350px;
}

nav > ul > li {
    display: inline-block;
    margin: 0 7px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

nav > ul > li > a {
    display: inline-block;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color: black;
}

a:hover {
    color: var(--azul-escuro);
    transition: 0.5s;
    cursor: pointer;
}

button.botao-nav {
    background-color: var(--azul-escuro);
    color: white;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 130px;
    margin-left: 60px;
}

button.botao-nav:hover {
    background-color: var(--azul-claro);
    cursor: pointer;
    transition: 0.5s;
}

main {
    margin-top: 100px;
}

section.principal {
    position: relative;
    height: 500px;
}

div.background {
    position: absolute;
    background-image: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100vw;
}

div.color {
    position: absolute;
    background-color: var(--azul-escuro);
    opacity: 60%;
    background-size: cover;
    height: 500px;
    width: 100vw;
    display: flex;
}

div.apresentacao {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    width: 100vw;
    height: 500px;
    gap: 30px;
}

div.apresentacao > h2 {
    font-family: 'Bebas', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;
    font-size: 50px;
    width: 400px;
    text-align: center;
    line-height: 55px;
}

div.apresentacao > p {
    width: 400px;
    text-align: center;
}

button.botao-principal {
    background-color: transparent;
    color: white;
    border: white 2px solid;
    border-radius: 5px;
    height: 45px;
    width: 140px;
    margin-top: 20px;
}

button.botao-principal:hover {
    background-color: var(--azul-escuro);
    cursor: pointer;
    transition: 0.5s;
}

section.servicos {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    color: white;
    text-align: center;
}

div.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 235px;
    width: 200px;
    border-radius: 5px;
    gap: 10px;
}

div.card > img {
    height: 70px;
    width: 70px;
}

div.card > p {
    font-size: 12px;
    width: 150px;
}

div.card > p > span {
    font-size: 10px;
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
}

div.cinza {
    background-color: var(--cinza);
}

div.azul {
    background-color: var(--azul-escuro);
}

div.card > p > span:hover {
    cursor: pointer;
    transition: 0.5s;
}

div.cinza > p > span:hover {
    background-color: var(--azul-escuro);
}

div.azul > p > span:hover {
    background-color: var(--azul-claro);
}

section.especialistas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--cinza-claro);
    margin-top: 50px;
    margin-bottom: 50px;
    height: 330px;
    gap: 5px;
}

section.especialistas > h2 {
    font-family: 'Bebas', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--cinza-escuro);
    font-size: 25px;
    text-transform: uppercase;
}

section.especialistas > p {
    color: var(--cinza-escuro);
}

section.especialistas > div.infos-especialistas {
    display: flex;
    justify-content: center;
}

div.infos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 200px;
}

div.infos > img {
    height: 40px;
    width: 40px;
} 

div.infos > img.icon {
    
    margin-top: 15px;
} 

div.infos > h3.especialista-card {
    margin-top: 10px;
    margin-bottom: 10px;
}

div.infos > p {
    font-size: 12px;
    width: 150px;
}

section.experiencia {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

div.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 250px;
    width: 850px;
    gap: 15px;
}

div.container > div.img-container {
    display: flex;
}

div.container > div.img-container > img {
    height: 250px;
    width: 430px;
    border-radius: 10px;
}

div.container > div.texto-experiencia {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    background-color: var(--azul-escuro);
    height: 250px;
    width: 430px;
    gap: 15px;
    border-radius: 10px;
}

div.container > div.texto-experiencia > h3 {
    color: white;
    text-align: left;
    margin: 0px 65px;
   
}

div.container > div.texto-experiencia > p {
    color: white;
    width: 300px;
    text-align: left;
    margin: 0px 65px;
}

div.texto-avaliacoes {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--azul-escuro);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin: 50px 0px;
    height: 70px;
}

section.avaliacoes {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 50px 0px;
    color: black;
    text-align: center;
}

section.avaliacoes > div.cliente {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 235px;
    width: 200px;
    border-radius: 5px;
    gap: 10px;
    border: var(--cinza) 2px solid;
}

section.avaliacoes > div.cliente > p {
    font-size: 12px;
    width: 150px;
}

div.cliente > div.img-cliente {
    display: flex;
    height: 85px;
    width: 85px;
    background-color: var(--cinza-claro);
    border-radius: 50%;
}

div.img-cliente > img.cliente1 {
    height: 55px;
    width: 62px;
    margin-top: 12px;
    margin-left: 11px;
}

div.img-cliente > img.cliente2 {
    height: 60px;
    width: 64px;
    margin-top: 7px;
    margin-left: 14px;
}

div.img-cliente > img.cliente3 {
    height: 60px;
    width: 55px;
    margin-top: 7px;
    margin-left: 15px;
}

div.img-cliente > img.cliente4 {
    height: 55px;
    width: 62px;
    margin-top: 11px;
    margin-left: 11px;
}

footer {
    height: 280px;
    background-color: var(--cinza-alternativo);
}

footer div.endereco-contato {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    gap: 800px;
}

footer div.contato {
    display: flex;
    gap: 15px;
}

footer div.contato > a > img {
    height: 20px;
    width: 20px;
}

footer div.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer div.logo > div#logo-dental > img {
    height: 50px;
    width: 50px;
}

footer div.logo > div#mudar-dental, div#mudar-palavra-logo > h3 {
    color: white;
}

footer div.separador {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer div.separador > div.linha {
    width: 1213px;
    border: 1px solid white;
    margin-bottom: 20px;
}

footer div.maps-ultimas-infos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-bottom: 20px;
}

footer div.google-maps {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer div.google-maps > a > img {
    height: 120px;
    width: 219px;
}

footer div.google-maps > p {
    color: white;
    width: 219px;
    margin-left: 10px;
}

footer div.mais-infos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: white;
    height: 100px;
}

footer div.mais-infos > p {
    width: 180px;
    font-size: 12px;
}
